@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Chela One', cursive;
    height: 100vh;
    overflow: hidden;
    color: white;
    background-color: black;
}
  
header{
    display: flex;
    justify-content: center;
    font-size: 35px;
    /* font-weight: 600; */
    padding: 20px;
    
}

.container{
    width: 80%;
    justify-content:center ;
    margin: auto;
    display: flex;
}




.first-section{
    width: 50%;
    padding: 20px;
    margin: auto;
}
.second-section{
    width: 50%;
    padding: 10px;
}

.slider{
    width: 100%;
    height: 25px;
    background:white;
    outline: none;
    opacity: 0.5;
}

.slider:hover{
    opacity: 1;
}

#demo-div{
    height: 200px;
    width: 200px;
    margin: auto;
    background-color: rgb(231, 166, 26);
}

